.grid {
  display: grid;

  &__2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  &__3-cols {
    grid-template-columns: repeat(2, 1fr);
    gap: 6.4rem;
  }
  &__4-cols {
    grid-template-columns: repeat(2, 1fr);
    gap: 6.4rem;
  }
}
