.btn {
  display: inline-block;

  &:link,
  &:visited {
    position: relative;
    padding: 1.2rem 3.2rem;
    text-decoration: none;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 9px;
    font-weight: 600;
    transition: all 0.2s;
  }

  &--cta:link,
  &--cta:visited {
    background-color: $color-primary;
    color: $color-white;
  }
  &--cta:hover,
  &--cta:active {
    background-color: $color-primary--dark;
  }

  &--helper:link,
  &--helper:visited {
    background-color: $color-white;
    color: $color-grey--medium;
  }

  &--helper:hover,
  &--helper:active {
    background-color: $color-primary--lightest;
    box-shadow: inset 0 0 0 3px $color-white;
  }
}
